.*
!.gitattributes
!.gitignore

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules


### Cordova ###
# The hooks directory is deprecated
hooks
platforms
plugins


### Project ###
src/typings/browser
src/typings/main
src/typings/browser.d.ts
src/typings/main.d.ts
src/modules/config/registration-info.json
